#!/usr/bin/make -f

VER=1.0.7
PKG_NAME=strelka${VER}
DEB_DIR=debian/${PKG_NAME}

%:
	dh $@

override_dh_auto_configure:
	./configure prefix=$(PWD)/install1

override_build:
	make # this insists on installing, so we put the install dir in the configure above with a temporary location, and just move them below

override_dh_auto_install:
	mkdir -p ${DEB_DIR}/usr/lib/${PKG_NAME}
	cp -a install1/* ${DEB_DIR}/usr/lib/${PKG_NAME}
	chmod +x ${DEB_DIR}/usr/lib/${PKG_NAME}/bin/*
	chmod +x ${DEB_DIR}/usr/lib/${PKG_NAME}/libexec/*
	mkdir -p ${DEB_DIR}/usr/bin
	echo "export PATH=/usr/lib/${PKG_NAME}/bin/:/usr/lib/${PKG_NAME}/libexec/:\$$PATH; exec /usr/lib/${PKG_NAME}/bin/configureStrelkaWorkflow.pl" > ${DEB_DIR}/usr/bin/strelka${VER}-configureStrelkaWorkflow.pl; \
	chmod +x ${DEB_DIR}/usr/bin/*

