#!/usr/bin/make -f

VER=0.4.10.1
PKG_NAME=strelka${VER}
DEB_DIR=debian/${PKG_NAME}

%:
	dh $@

build:
	make

override_dh_auto_install:
	mkdir -p ${DEB_DIR}/usr/lib/${PKG_NAME}/strelka_workflow
	cp -r strelka ${DEB_DIR}/usr/lib/${PKG_NAME}/strelka_workflow
	cp -r redist ${DEB_DIR}/usr/lib/${PKG_NAME}/strelka_workflow
	cp configureStrelkaWorkflow.pl ${DEB_DIR}/usr/lib/${PKG_NAME}/strelka_workflow
	mkdir -p ${DEB_DIR}/usr/bin
	for filename in `find bin/ -executable -type f`; do \
	    file=`basename $${filename}`;   \
	    install -m 755 $${filename} ${DEB_DIR}/usr/lib/${PKG_NAME}/strelka_workflow/strelka/bin/$${file}; \
	    echo "export PATH=/usr/lib/${PKG_NAME}/bin/:\$$PATH; exec $$file" > ${DEB_DIR}/usr/bin/$${file}${VER}; \
	done


